@model InventorySystem.Models.Orders

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_TextboxLayout.cshtml";
}
<form asp-action="Edit" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Order_ID" />
    <div class="col-md-4">
        <label asp-for="Date_of_Order" class="control-label"></label>
        <input asp-for="Date_of_Order" class="form-control" />
        <span asp-validation-for="Date_of_Order" class="text-danger"></span>
    </div>
    <div class="col-md-8">
        <label asp-for="Order_Details" class="control-label"></label>
        <input asp-for="Order_Details" class="form-control" />
        <span asp-validation-for="Order_Details" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Customer_ID" class="control-label"></label>
        <select asp-for="Customer_ID" class="form-control" asp-items="ViewBag.Customer_ID"></select>
    </div>
    <div class="col-md-12">
        <br />
        <input type="submit" value="บันทึก" class="btn btn-primary" />
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Orders")'">
            กลับสู่หน้าหลัก
        </button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
